<footer>
    <div class="aside_box">
        <div class="area_user">
            <div class="area_user_row">
                <span>Company</span>
                <ul>
                    <li><a href="/">회사소개</a></li>
                    <li>채용정보</li>
                    <li>제휴문의</li>
                </ul>
            </div>
            <div class="area_user_row">
                <span>User</span>
                <ul>
                    <li><a href="/">고객센터</a></li>
                    <li>문의하기</li>
                    <li>배송안내</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="area_col">
        <div class="ac_content">
        <div>소셜미디어</div>
        </div>
        <a href="https://www.instagram.com/"><img src="images/insta.jpg" class="ac_img"/></a>
    </div>
    <div class="bottom_box">
        <ul>
            <li>지속 가능한 미래를 위한 현명한 선택</li>
            <li>&copy;2024 에코라이프. All rights reserved.</li>
        </ul>
    </div>
</footer>
