    <footer class="footer__wrap section nexon">
        <div class="container">
            <h2 class="blind"></h2>
            <div class="footer__inner">
                <div class="footer__menu">
                    <div>
                        <h3>COMPANY</h3>
                        <ul>
                            <li><a href="#">에코라이프 소개</a></li>
                            <li><a href="#">친환경뉴스</a></li>
                        </ul>
                    </div>
                    <div>
                        <h3>구매 안내</h3>
                        <ul>
                            <li><a href="#">단체 구매 안내</a></li>
                            <li><a href="#">환불 규정 안내</a></li>
                        </ul>
                    </div>
                    <div>
                        <h3>COMMUNITY</h3>
                        <ul>
                            <li><a href="#">페이스북</a></li>
                            <li><a href="#">유튜브</a></li>
                            <li><a href="#">인스타그램</a></li>
                        </ul>
                    </div>
                    <div>
                        <h3>RECRUIT</h3>
                        <ul>
                            <li><a href="/">채용 소개</a></li>
                            <li><a href="/">채용 지원하기</a></li>
                        </ul>
                    </div>
                </div>
                <address class="footer__right">
                    &copy;2024 에코라이프. All rights reserved.
                </address>
            </div>
        </div>
    </footer>