<!---------------------------- 네비게이션 ---------------------------------->
<!-- https://www.w3schools.com/bootstrap5/bootstrap_navbar.php -->
<nav class="navbar navbar-expand-sm" style="background-color: white;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/images/webLogo.png" alt="Logo" style="width:30px;" class="rounded-pill">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">홈</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">추천제품</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">커뮤니티</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">고객문의</a>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-dark" type="button">로그인</button>
            </form>
        </div>
    </div>
</nav>
<!---------------------------- 네비게이션 ---------------------------------->



<!------------------------- 이미지 슬라이드 -------------------------------->
<!-- https://www.w3schools.com/bootstrap5/bootstrap_carousel.php -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner carousel slide" data-bs-ride="carousel">
        <div class="d-flex flex-column align-items-center justify-content-center"
            style="color: white; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 2;">
            <h1 id="bannerTitle" class="mb-3" style="font-size: clamp(1.4rem, 4vw, 3rem);">
                지구를 위한 현명한 선택
            </h1>
            <p id="bannerText" class="mb-8" style="font-size: clamp(0.6rem, 2.0vw, 1.4rem);">
                지속 가능한 소비로 더 나은 미래를 만들어갑니다
            </p>
            <form class="d-flex">
                <button id="bannerButton" class="btn btn-dark">시작하기</button>
            </form>
        </div>

        <div class="carousel-item active">
            <img src="/images/baner1.png" alt="baner1" class="d-block" style="width:100%" />
            <div
                style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.5); z-index: 1;">
            </div>
        </div>
        <div class="carousel-item">
            <img src="/images/baner2.png" alt="baner2" class="d-block" style="width:100%" />
            <div
                style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.5); z-index: 1;">
            </div>
        </div>
        <div class="carousel-item">
            <img src="/images/baner3.png" alt="baner3" class="d-block" style="width:100%" />
            <div
                style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.5); z-index: 1;">
            </div>
        </div>
    </div>

    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>
<!------------------------- 이미지 슬라이드 -------------------------------->



<!-------------------------- 카테고리 -------------------------------->
<div id="card-container" class="d-flex justify-content-between" style="width: 100vw; background-color: aquamarine;"></div>

<script type="module">
    const cardContainer = document.getElementById("card-container");

    for (let i = 0; i < 4; i++) {
        const cardHtml = `
            <div class="container mt-3 d-flex justify-content-center">
                <div class="card" style="max-width: 450px; text-align: center">
                    <img class="card-img-top img-fluid" src="images/제로웨이스트1.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title">제로웨이스트</h4>
                    </div>
                </div>
            </div>
        `
        cardContainer.innerHTML += cardHtml;
    }

</script>
<!-------------------------- 카테고리 이동 -------------------------------->